/* FOR THE MAP */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
 }

 #map {
    width: 100%;
    height: 100%;
}

#container {
  margin-bottom: 0;
  z-index: 1000;
  background-color: white;
  width: 100%;
  height: 30px;
}

#signed-in-links {
  display: none;
}

/* FOR DEVISE LOG IN BOXES */

a, h1, body, p {
  font-family: 'Open Sans', sans-serif;
  color: #575757;
  font-size: 14px;
}

h3 {
  text-decoration: underline;
}

p {
  padding: 25px;
}

a {
  text-decoration: none;
}

.devise-box {
  z-index: 5000;
  display: none;
  background-color: white;
  width: 500px;
  height: auto;
  position: absolute;
  top:50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  line-height: 35px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  
  -webkit-border-radius: 20px;
}

#flash_alert {
  color: #575757;
  text-align: center;
  margin-top: 15px;
}

#error_explanation {
  color: #575757;
}

#error_explanation h2 {
  line-height: 25px;
}

#error_explanation li {
  line-height: 25px; 
}

.button-to {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 10px 15px;
    margin: 0px 20px 10px 20px;
    background: #575757;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border: none;
}

a.button-to {
  display: inline-block;
  padding: 20px 15px;
}

.button-to:hover {
    background: #4BF2E4;
    text-decoration: none;
}

.button-to #soundcloud-btn {
  margin: 20px;
  background: #575757;
}

.form-elements {
  padding: 20px 15px 0px 15px;
} 

input { 
  border-radius: 5px;
  padding: 10px 15px;
  border: 2px solid #575757;
}

.sc-button img {
  margin: 20px 0 10px 0;
}

#user_nav {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: white; 
  text-align: right;
  height: 30px;
  z-index: 100;
  padding-top: 15px;
}

#one-logo {
  height: 150px;
}

#logo {
  height: 30px;
  float: left;
  margin-top: -8px;
  margin-left: 30px;
}

h2 {
  padding: 5px;
  font-size: 16px;
  line-height: 0px;
}


